body {
    display: flex;
    background-color: #181818;
}
#container {
    display: grid;
    height: 600px;
    width: 600px;
    background-color: azure;
}

#grid-elements {
    border: solid;
    border-width: 0.1px;
}