body {
    display: flex;
    background-color: #181818;
    justify-content: center;
}
#container {
    margin-top: 50px;
    display: grid;
    height: 700px;
    width: 700px;
    background-color: azure;
}

#grid-elements {
    border: solid;
    border-color: #666666;
    border-width: 1px;
}